@import url(//fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
.container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.container::before {
  content: " ";
  transform: translateZ(-1px) scale(2);
  background: url(wood.jpg);
  position: fixed;
  width: 100%;
  height: 32768px;
}
.container>* {
  transform: translateZ(0);
  max-width: 50em;
  margin: 2em auto;
  /*background: rgba(255,255,255,0.5);*/
  background: url(paper.jpg);
  border-radius: 3px;
  box-shadow: 0px 0.5em 1.5em 0px rgba(0,0,0,0.66);
}
header, section, nav {
  margin: 2em;
  padding: 2em 2em 1em 2em;
  /*transform-style: preserve-3d;*/
}
nav.glass {
  position: fixed;
  top: 1em;
  left: 1em;
  color: white;
  background: rgba(0,0,0,0.75);
  /*border: 2px solid white;*/
  border-radius: 1em;
  padding: 0 1em;
  max-width: 20em;
}
.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}
.parallax__layer--front {
  transform: translateZ(1px);
}
.parallax__group {
  position: relative;
  height: 100vh;
  /*transform-style: preserve-3d;*/
}


body {
  font: 1.3em "Vollkorn", Palatino, Times;
  color: #333;
  line-height: 1.4;
  }
  /*
header, nav, article, footer {
  width: 700px;
  margin:0 auto;
  }
article {
  margin-top: 4em;
  margin-bottom: 4em;
  min-height: 400px;
  }
footer {
  margin-bottom:50px;
  }
video {
  margin: 2em 0;
  border:1px solid #ddd;
  }

nav {
  font-size: .9em;
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
  }
nav p {
  margin: 0;
  }

/* Typography
-------------------------------------------------------- */

h1 {
  margin-top: 0;
  font-weight: normal;
  text-align: center;
  }
h2 {
  font-weight: normal;
  }
h3 {
  font-weight: normal;
  font-style: italic;
  margin-top:3em;
  }
p {
  margin-top:0;
  -webkit-hypens:auto;
  -moz-hypens:auto;
  hyphens:auto;
  }
ul {
  padding-left:1.2em;
  }
ol {
  padding-left:1.2em;
  }
blockquote {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #ddd;
  }
code {
  font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
  font-size: .85em;
  background: #ddd;
  }
pre {
  background: #ddd;
  font-size: .75em;
}
a {
  color: #2484c1;
  text-decoration: none;
  }
a:hover {
  text-decoration: underline;
  }
a img {
  border:none;
  }
h1 a, h1 a:hover {
  color: #333;
  text-decoration: none;
  }
hr {
  color : #ddd;
  height : 1px;
  margin: 2em 0;
  border-top : solid 1px #ddd;
  border-bottom : none;
  border-left: 0;
  border-right: 0;
  }
p#heart{
  font-size: 2em;
  line-height: 1;
  text-align: center;
  color: #ccc;
  }
.red {
  color:#B50000;
  }

/* Home Page
--------------------------- */

body#index li {
  margin-bottom: 1em;
  }


/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
  font-size: 120%;
  line-height: 1.4;
  }
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
body {
  text-align: left;
  }
article, footer {
  width: auto;
  }
article {
  padding: 0 10px;
  }
} /* @iPhone */
