@import url(//fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
.container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.container::before {
  content: " ";
  transform: translateZ(-1px) scale(2);
  background: url(wood.jpg);
  position: fixed;
  left: 0;
  width: 100%;
  height: 32768px;
  text-align: left;
}
.container>* {
  transform-style: preserve-3d;
  transform: translateZ(0);
  text-align: left;
  max-width: 42em;
  margin: 2em auto;
  /*background: rgba(255,255,255,0.5);*/
  background: #ddd url(paper.jpg);
  border-radius: 3px;
  box-shadow: 0px 0.5em 1.5em 0px rgba(0,0,0,0.66);
  padding: 1em;
}
.container>header {
  /*transform: translateZ(-0.5px) translateY(-100%) scale(1.5);*/
  /*background: #333 url(marble.jpg);*/
  /*border-radius: 1.5em;*/
  display: inline-block;
  margin-bottom: 0;
  padding: 0 2em;
}
/*.container>article {
  padding: 1em;
}*/
.container aside {
  /*transform-style: preserve-3d;*/
  transform: translateZ(0.125px) scale(0.875);
  background: white;
  position: fixed;
  right: 0;
  padding: .5em;
  border-radius: 1em;
  border: 0.25em solid white;
  color: white;
  background: rgba(0,0,0,0.75);
}
/*time.published::before {
  content: "Published ";
  display: inline;
}
time.modified::before {
  content: "Last edited ";
  display: inline;
}*/
.author {
  font-style: italic;
}
/*.author-name::before {
  content: "by ";
  display: inline;
}*/
article > header > .time {
  display: block;
  font-size: 70%;
}

body {
  font: 1.3em "Vollkorn", Palatino, Times;
  color: #333;
  line-height: 1.4;
  }

.container code {
  font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
  font-size: .75em;
  background: #ddd;
}
.container pre {
  background: #ddd;
  font-size: .75em;
  padding: 0.5em;
}
.container h2 {
  margin: 0;
}

a {
  text-decoration: none;
  /*color: black;*/
}
a:hover {
  text-decoration: underline;
}
